In [1]:
import pandas as pd

In [8]:
data=pd.read_csv("jobdata collected by me.csv")
data.head()

,title,Job Provider,Salary,Experience,Eligible nation,Company location,Workplace model,Advertisement Duration,Data Source
0,Social Media Specialist,Centriq Company,NaN,NaN,Saudi nationals,Riyadh,OnSite,Just Now,Bayt.com
1,مراقبة امن,NaN,NaN,NaN,Saudi nationals,Saudi Arabia,OnSite,1 hour ago,Bayt.com
2,مهندس مصاعد Elevator Engineer,شركة سماءالتكيف,NaN,Mid career·5-20,International,Ar Rabwah,NaN,1 hour ago,Bayt.com
3,Industrial Electrician,Cigalah Group,"$500 - $1,000",Mid career·3-15,International,Mecca,OnSite,1 hour ago,Bayt.com
4,Product Research Development Manager,Cigalah Group,NaN,Management·5-10,International,Bahrah,OnSite,1 hour ago,Bayt.com

In [14]:
data.to_excel("jobdata collected by me.xlsx",index_label="Index")

In [ ]:
data['title'].value_counts()
data['title'].isnull().sum()

np.int64(0)

In [11]:
data['Eligible nation'].isnull().sum()
data['Workplace model'].isnull().sum()
data['Workplace model'].fillna("OnSite",inplace=True)

In [6]:
data['Job Provider'].value_counts()  # most of the jobs are provided by King Fahd University
data['Job Provider'].isnull().sum()

np.int64(201)

In [ ]:
data['Salary'].value_counts() # on bayt.com , most of the jobs salary is not defined.
# Even if the jobs are of saudia but the currency symbol used in bayt.com is of dollar.

Salary
$1,000 - $1,500      83
$500 - $1,000        65
$1,500 - $2,000      57
$2,000 - $3,000      42
$3,000 - $4,000      20
$4,000 - $5,000      19
$0 - $500            17
$5,000 - $6,000      13
$7,000 - $8,000       9
$6,000 - $7,000       9
$30,000 - $50,000     6
$9,000 - $10,000      5
$10,000 - $15,000     3
$15,000 - $30,000     1
$8,000 - $9,000       1
Name: count, dtype: int64

In [16]:
data['Experience'].isnull().sum()
data['Experience'].value_counts()

Experience
Mid career             303
Entry level             85
Management              73
Fresh graduate          25
2-Jan                   21
                      ...
Director/Head·6-10       1
0-4                      1
Mid career·4-20          1
Entry level·2-3          1
Mid career·5-8           1
Name: count, Length: 134, dtype: int64

In [ ]:
data['Company location'].value_counts()  # Instead of leaving the null value, The space of unknown company location is filled by saudi arab.
data['Company location'].isnull().sum()

np.int64(0)

In [ ]:
data['Data Source'].value_counts()

np.int64(0)

In [14]:
# DROPING Duplicates
data.duplicated().sum()
data.drop_duplicates(inplace=True)

# Analysis

In [ ]:
#